body{
    margin:0;
    background-color:white;
    color:black;
} 
.dark-mode{
    background-color: black;
    color: grey;
}
 .dark-mode button {
    background: black;
    color: white;
  } 
  
  .dark-mode .sun-icon,
  .moon-icon {
    display: none;
  }
  
  .dark-mode .moon-icon {
    display: inline;
  }
#coupon{
    position: absolute;
    z-index: 100;
    background-color:gray;
    visibility: hidden;
    margin-top: 109px;
    margin-left: 465px;
}
.couponbtn{
   position: absolute;
}
.couponimg{
    width:372;
    height:347px;
    border:3px solid gray;
}
ul li a {
    list-style: none;
    padding-right: 20px;
    color:white;
    text-decoration: none;
}
li{
    margin-top: 11px;
}
.navbar{
    background-color:#df3e1f;
    
}

.navbottom{
    margin-bottom:-29px;
}
.image{
    position: absolute;
    height:400px;
    background-image: url("./images/banner.jpg");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-size: 100% 400px;
}
/* .image::before{
    position: absolute;
    background-image: url("./images/banner.jpg");
    background-color: rgba(152, 66, 211, 0.63);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity:0.75;
} */

.logo{
    position: absolute;
    width:79px;
    height:78px;;
    border-radius: 50%;
    background-color:#df3e1f;
    float:left;
    margin-top:80px;
    margin-left: 46%;
}
.navbar-brand{
    color: white;
    margin-bottom:25px;
    font-size: 20px;
}
.logo >span{
    margin-left:19px;
    font-size:54px;
    color:white;
}
/* .vl{
    border-left: 2px solid white;
    height: 29px;
    position: absolute;
    float: left;
    margin-top: 72%;
    margin-left: 49%;
} */
.heading{
    position: absolute;
    margin-top: 13%;
    margin-left: 29%;
    color: #f67e4f;
    font-size: 35px;
}
.dropdown {
    margin-top: 18%;
    margin-left: 30%;
   
}
#dropdownMenuButton1{
    height: 66px;
    width: 28%;
}
#dropdownMenuButton2{
    height: 66px;
    width: 34%;
}
.QuickSearch{
    position: absolute;
    height:600px;
    margin-top:35%;
}
#QuickHeading{
    color:orange;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    display:block;
    margin-left: 6%;
}
#QuickSubHeading{
    line-height: 2;
    color:gray;
    font-size:20px;
    margin-left: 6%;
}
.card{
    margin:8px;
}
ul{
    list-style: none;
}
.tileContainer{
    height:200px;
    width:30%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 10px 20px 10px gray;
    animation: dance 10s infinite;
}
.tileContainer:hover{
    /*transform: scale(1.1);
    transform: skewX(-20deg);
    transform: rotate(20deg);*/
    transform: scale(1.1)
}

@keyframes dance{
    0% {transform: rotate(-5deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(5deg)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(-5deg)}
}

.footer{
    background-color:#f67e4f;
}

@media screen and (max-width:1600px){
    body{
        background-color:lightblue
    }
}

@media screen and (max-width:1400px){
    body{
        background-color:rgb(202, 241, 215)
    }
}

@media screen and (max-width:1200px){
    body{
        background-color:rgb(237, 245, 209);
        margin:0px;
    }
    .heading{
        margin-top:14%;
        margin-left:26%;
    }
    .dropdown {
        margin-top: 20%;
        margin-left: 29%;
    }
    
    #QuickHeading{
       margin-left:7%;
       margin-top:3%;
    }
    #QuickSubHeading{
        margin-left:7%;
        margin-top:3%;
    }
   
}

@media screen and (max-width:1000px){
    body{
        background-color:rgb(242, 209, 245)
    }
    .heading{
        margin-top:22%;
        margin-left:13%;
    }
    .dropdown {
        margin-top: 30%;
        margin-left:19%;
    }
    #dropdownMenuButton1{
        width: 39%;
    }
    #dropdownMenuButton2{
        width: 42%;
    }
    #QuickHeading{
       margin-left:5%;
       margin-top:17%;
    }
    #QuickSubHeading{
        margin-left:5%;
        margin-top:3%;
    }
   
}
@media screen and (max-width:800px){
    body{
        background-color:rgb(163, 240, 243)
    }
    .heading{
        margin-top:26%;
        margin-left:15%;
        font-size: 26px;
    }
    .dropdown {
        margin-top: 36%;
        margin-left: 20%;
    }
    #dropdownMenuButton1{
        width:37%;
    }
    #dropdownMenuButton2{
        width: 48%;
    }
    #QuickHeading{
       margin-left:7%;
       margin-top:36%;
    }
    #QuickSubHeading{
        margin-left:7%;
        margin-top:3%;
    }
   
}
@media screen and (max-width:600px){
    body{
        background-color:rgb(246, 202, 196)
    }
    .logo{
        margin-left:185px;
    }
    .heading{
        margin-top:35%;
        margin-left:5%;
    }
    .dropdown {
        margin-top: 49%;
        margin-left:5%;
    }
    #dropdownMenuButton1{
        width:41%;
    }
    #dropdownMenuButton2{
        width:53%;
    }
    
    #QuickHeading{
       margin-left:4%;
       margin-top:53%;
    }
    #QuickSubHeading{
        margin-left:4%;
        margin-top:3%;
    }
   
}